<% layout("layouts/boiler_plate.ejs") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
       
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= sample.id %>?_method=PUT"  novalidate class="needs-validation"
      enctype="multipart/form-data" >
        <div class="mb-3">
            <label for="title" class="form-label"> <b>Title</b> </label>
            <input name="listing[title]" value="<%= sample.title %>" 
                   type="text" class="form-control" required/>
    
            <div class="valid-feedback">Title looks good!!</div>
        </div>
        <div class="mb-3"> 
            <label for="description" class="form-label"> <b>Description</b> </label>
            <textarea name="listing[description]" class="form-control" required> 
                      <%= sample.description %> </textarea>
    
            <div class="invalid-feedback">Please enter a short description</div>
            <div class="valid-feedback">Nice and clean description</div>
        </div>
        <!-- <div class="mb-3">
         <img src="<%= sample.image.url %>"  alt="">
        </div> -->
          
    
          <div class="mb-3">
            <label for="image" class="form-label"> <b>Upload New Image </b> </label>
            <input name="listing[image]" type="file" class="form-control"  />
          </div>
         
      <div class="row">  
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label"> <b>Price</b> </label>
          <input name="listing[price]" value="<%= sample.price %>" type="text"
                 class="form-control" required/>
    
          <div class="invalid-feedback">Price should be valid</div>
        </div>
      
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label"> <b>Country</b> </label>
          <input name="listing[country]" value="<%= sample.country %>" type="text" 
                 class="form-control"  required />
    
          <div class="invalid-feedback">Country name should be valid</div>
        </div>
      </div>
    
        <div class="mb-3">
            <label for="location" class="form-label" > <b>Location</b> </label>
            <input name="listing[location]" value="<%= sample.location %>" 
                   type="text" class="form-control"  required />
    
            <div class="invalid-feedback">Location should be valid</div>
        </div>
           
          <button class="btn btn-success editbtn mt-3">Edit</button>
</form>
</div>
     
</div>
</body>
